.registeration{
  height:400px;
  width:400px;
  border: 1px solid black; 
  margin-left:450px;
  margin-top: 40px;
  background-color:green;
}
.names{
  margin:20px;
}
.space{
 margin: 10px;
}
.head{
  margin: 30 px;
  padding: 10px 50px 10px 50px;
  height:20px;
}

.Navbarstyle{
  list-style-type:none;
background-color:green;
border-right: 1px;
margin: 0px;
padding:0px;
overflow: hidden;/*this is used to avoid overflow and put it at the right place}*/
border:1px solid black;
}

.Navbarelements{
display: inline;
float: left;
padding: 14px 16px;
color:white;
border-right:1px solid black; 
text-align:center;
text-decoration: none;
}
.changeheading{
  margin-left: 520px;
}
